@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

html {
    font-size: 16px;
}

body {
    background-color: #f3f1f1;
    font-family: 'Nata Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: black;
    padding: 2rem;
    margin-bottom: 1rem;
}

h1 {
    color: white;
    font-size: 2rem;
}

nav a {
    color:white;
}

.block {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*conferir o flex de todos cara eu n consigo alinhaaar*/
}

.block span {
    background-color: yellow;
}

.noticias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: 1rem 4rem 1rem 1rem;
}

.cards {
    background: white;
    width: 16rem;
    border: 0.2rem solid #ddd;
    padding: 2rem;
    text-align: center;
}